.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.menuLink{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: var(--primary);
    color: var(--text-over-primary);
    text-decoration: none;
    transition: all 0.1s ease-in;
    padding: 1rem;
    border-radius: 0.8rem;
}

.menuLink:hover{
    filter: brightness(80%);
}

.menuLink svg{
    width: 2.4rem;
    height: 2.4rem;
}